{% extends 'curator/curator_base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}

{% block page %}
    {{ title }}
{% endblock %}

{% block page_contents %}
<div>
    <h3>paintings</h3>
    <table border="4">
        <tr>
            <th>id</th>
            <th>user_id</th>
            <th>title</th>
            <th>path</th>
            <th>date</th>
            <th></th>
        </tr>
        {%for item in paintings%}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.user_id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.path }}</td>
            <td>{{ item.date }}</td>
            <td><button>delete</button></td>
        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}
